<!-- sidebar -->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Main</li>
                    <li><a href="/Admin/Home"><i class=" mdi mdi-view-dashboard"></i> <span
                                class="nav-text">Dashboard</span></a>
                    </li>

                    <li><a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-chart-bar"></i> <span
                                class="nav-text">Sản Phẩm & Tồn Kho</span></a>
                        <ul aria-expanded="false">
                            <li><a href="chart-flot.html">Danh mục sản phẩm</a>
                            </li>
                            <li><a href="/Admin/Brand/Index">Hãng sản xuất</a>
                            </li>
                            <li><a href="chart-chartjs.html">Sản phẩm</a>
                            </li>
                            <li><a href="chart-chartist.html">Tồng kho</a>
                            </li>
                            <li><a href="chart-sparkline.html">Bảo trì/Sửa chữa</a>
                            </li>
                            <li><a href="chart-justgage.html">Nhật ký Nhập/Xuất kho</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-email"></i> <span
                                class="nav-text">Booking & Thanh toán</span></a>
                        <ul aria-expanded="false">
                            <li><a href="email-inbox.html">Lịch Booking</a>
                            </li>
                            <li><a href="email-read.html">Danh sách đơn đặt thuê</a>
                            </li>
                            <li><a href="email-compose.html">Chi tiết thuê</a>
                            </li>
                            <li><a href="email-compose.html">Thanh toán</a>
                            </li>
                            <li><a href="email-compose.html">Xử lý cọc</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-diamond"></i> <span
                                class="nav-text">Khách Hàng</span> <span
                                class="badge badge-success nav-badge">16</span></a>
                        <ul aria-expanded="false">
                            <li><a href="ui-accordion.html">Khách Hàng</a>
                            </li>
                            <li><a href="ui-alert.html">Lịch sử thuê</a>
                            </li>
                            <li><a href="ui-badge.html">Xếp hạng / Ưu đãi thành viên</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-nfc-variant"></i> <span
                                class="nav-text">Tài Chính</span></a>
                        <ul aria-expanded="false">
                            <li><a href="form-basic.html">Sổ Quỹ tiền mặt</a>
                            </li>
                            <li><a href="form-addons.html">Báo cáo doanh thu</a>
                            </li>
                            <li><a href="form-validation.html">Chi phí quảng cáo</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-table-edit"></i> <span
                                class="nav-text">Báo cáo & Thống kê</span></a>
                        <ul aria-expanded="false">
                            <li><a href="table-basic.html">Tồn kho</a>
                            </li>
                            <li><a href="table-layout.html">Doanh thu</a>
                            </li>
                            <li><a href="table-dt-basic.html">Hiệu suất</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-google-pages"></i> <span
                                class="nav-text">Hệ thống</span></a>
                        <ul aria-expanded="false">
                            <li><a href="page-login.html">Quản lý người dùng</a>
                            </li>
                            <li><a href="page-register.html">Phân quyền</a>
                            </li>
                            <li><a href="page-lock-screen.html">Cấu hình hệ thống</a>
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- #/ nk nav scroll -->
        </div>
        <!-- #/ sidebar -->